.dashedLine{
    -fx-stroke-dash-array: 5 10 5 10;
}

.dashedLine2{
    -fx-stroke-dash-array: 3 30 3 30;
}

.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.list-view .list-cell {
    -fx-background-color: #2C2D2F;
    -fx-text-fill: #CDCDCD;
}